* {
    padding: 0;
    margin: 0;
    border: none;
}

.cabecalho {
    background-color: #203788;
    height: 100px;

    animation-name: pular;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

.barra {
    background-color: #B6FFDC;
    height: 50px;
    width: 250px;
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: 75px;

    animation-name: rodar;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

.bola {
    background-color: #CF1919;
    height: 150px;
    width: 150px;
    border-radius: 999px;
    position: fixed;
    right: 1px;
    bottom: 1px;
}

@keyframes rodar {
    100%, 0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
}

@keyframes pular {
	0% {
    transform: translateY(000px);
  }
	50% {
    transform: translateY(100px);
  }
    100% {
    transform: translateY(0px);
    }
}